
/* ==================== LAYOUT GERAL ==================== */

html, body, .capa {
    width: 100%;
    height: 100%;
}

body {
	font-family: Helvetica,Arial,sans-serif;
}

/* ==================== LAYOUT PARALLAX ==================== */

.first {
    background: url(../images/panelfirst.jpg);
}
.second {
    background: url(../images/panelsecond.jpg);
}
.third {
    background: url(../images/panelthird.jpg);
}

.parallax{
    height: 100%;
    min-height: 100%;
    background-attachment: fixed;
	  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 0px;
    border-radius: 0px;
}

.scroll-panel {
  height: 400px;
  background: white;
}

/* ==================== NAVEGACAO ==================== */

nav.navbar-custom {
  padding: 15px 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
  padding-top: 8px;
}
/* ==================== CAPA ==================== */
.capa {
	display: table;
	width: 100%;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* ==================== FOOTER ==================== */

/* ==================== TIPOGRAFIA ==================== */

.texto-capa h1 {
  font-size: 5em;
}
